<% include partials/header %>

<nav id="mainNavbar" class="animated fadeInDown slow navbar navbar-expand-lg fixed-top">
    <div class="container-fluid navElements ">
        
        <a class="navbar-brand" href="/" title="Adorn Abodes">
            <img class="navLogo" src="images/html/logo.jpg"><span class="navTitle">AdornAbodes</span>
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavButton">
            <i class="fas fa-bars fa-2x"></i>
        </button>
		
        <div class="collapse navbar-collapse" id="NavButton">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="abodes#home-content">
                        <span>Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="abodes#services">
                        <span>Services</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/abodes/projects">
                        <span>Projects</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="abodes#team-heading"> 
                        <span>Team</span> 
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="abodes#about">
                        <span>About</span>
                    </a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="abodes#contact-heading">
                        <span>Contact</span>
                    </a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="/abodes/careers">
                        <span>Join Us</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="home-page">
    <div class="container" id="home-content">
        <div class="row animated fadeInUp slow">
            <div class="col">
                <h1 class=" display-1 home-name">
                    <strong>ADORN ABODES</strong>
                </h1>
                <h3 class="home-tagline">ARCHITECTS AND INTERIOR DESIGNERS</h3>
                
            </div>
        </div>
    </div>
    <div class="container">
        <div id="go-to-about">
            <a class="about-link animated infinite bounce" href="abodes#services">
                <p>SEE MORE</p>
                <i class="fas fa-chevron-down fa-2x about-link"></i>
            </a>
        </div>
    </div>
</div>

<div id="services">
    <div id="what-we-do">
        <div class="what-heading">
            <h5>WHAT DO WE DO ?</h5>
            <hr align="center" width="25%">
        </div>
        <div class="row what-items">
            <div class="col-md-4 what-item">
                <div class="polaroid">
                  <img src="images/html/arch-services.jpg" style="width:100%">
                  <div class="container">
                    <p>Architectural Services</p>
                  </div>
                </div>
            </div>
            <div class="col-md-4 what-item">
                <div>
                    <div class="polaroid">
                      <img src="images/html/int-des.jpg" style="width:100%">
                      <div class="container">
                        <p>Interior Design Services</p>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 what-item">
                <div>
                    <div class="polaroid">
                      <img src="images/html/turnkey.jpg" style="width:100%">
                      <div class="container">
                        <p>Turn-key Interior Works</p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row what-items">
            <div class="col-md-4 what-item">
                <div>
                    <div class="polaroid">
                      <img src="images/html/drill.jpeg" style="width:100%">
                      <div class="container">
                        <p>Structural Design Services</p>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 what-item">
                <div>
                    <div class="polaroid">
                      <img src="images/html/chairs.jpg" style="width:100%">
                      <div class="container">
                        <p>Customized Furniture Design</p>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 what-item">
                <div>
                    <div class="polaroid">
                      <img src="images/html/curating.jpg" style="width:100%">
                      <div class="container">
                        <p>Interior Decor and Curating Work</p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="how-heading">
        <h5 id="heading">HOW DO WE DO IT ?</h5>
        <hr align="center" width="25%">
    </div>
    <div id="how-we-do">
        <nav class="nav nav-tabs justify-content-center flex-column flex-lg-row" id="myTab" role="tablist">
            <a class="flex-lg-fill nav-item nav-link active" id="know-tab" data-toggle="tab" href="#know" role="tab" aria-controls="know" aria-selected="true">Know Our Client</a>
            <a class="flex-lg-fill nav-item nav-link" id="propose-tab" data-toggle="tab" href="#propose" role="tab" aria-controls="propose" aria-selected="false">Proposal</a>
            <a class="flex-lg-fill nav-item nav-link" id="help-tab" data-toggle="tab" href="#help" role="tab" aria-controls="help" aria-selected="false">Help in construction</a>
            <a class="flex-lg-fill nav-item nav-link" id="evaluate-tab" data-toggle="tab" href="#evaluate" role="tab" aria-controls="evaluate" aria-selected="false">Transparent Evaluation</a>
        </nav>
        
        <div class="container tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="know" role="tabpanel" aria-labelledby="know-tab">
              <div class="container row">
                  <div class="col-lg-6">
                      <div class="side-icon">
                          <i class="far fa-comments fa-10x"></i>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="side-para">
                          <ul>
                              <li>Understand Client’s Requirements</li>
                              <li>Check Client’s Aesthetics</li>
                              <li>Understand The Budget</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="tab-pane fade" id="propose" role="tabpanel" aria-labelledby="propose-tab">
              <div class="row">
                  <div class="col-lg-6">
                      <div class="side-icon">
                          <i class="far fa-file-alt fa-10x"></i>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="side-para">
                          <ul>
                              <li>Preliminary Design Renders</li>
                              <li>Plans for better understanding</li>
                              <li>Tentative Budget/Estimate</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="tab-pane fade" id="help" role="tabpanel" aria-labelledby="help-tab">
              <div class="container row">
                  <div class="col-lg-6">
                      <div class="side-icon">
                          <i class="far fa-building fa-10x"></i>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="side-para">
                          <ul>
                              <li>Working set of drawings upon client’s confirmation</li>
                              <li>Helping Hiring the right construction team</li>
                              <li>Acting as regulators over the construction team</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="tab-pane fade" id="evaluate" role="tabpanel" aria-labelledby="evaluate-tab">
              <div class="container row">
                  <div class="col-lg-6">
                      <div class="side-icon">
                          <i class="fas fa-chart-line fa-10x"></i>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="side-para">
                          <ul>
                              <li>Online Weekly Reports for the client during construction for better information</li>
                              <li>Transparent construction cost via procurement bills approval through the client</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>
<div id="team-heading">
    <h5 class="heading">OUR TEAM</h5>
    <hr align="center" width="15%">
</div>
<div id="team">
    <div class="container">
        <div class="row animated fadeInUp slow">
            <div class="col-md-4">
                <div class="card">
                  <img class="card-img-top" src="images/html/devika soni.jpg" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">AR. DEVIKA SONI</h4>
                    <h5 class="card-title">Principal designer, Founder</h5>
                    <p class="card-title">B.Arch, Interiors</p>
                    <p class="card-text">The founder is an Architect and Interior Designer having experience of working with various architecture fields before starting her own venture, She started with Heritage & Conservation Projects, Urban Design Projects, then also has a profound experience as an Interior Designer in various Commercial & Residential Projects.</p>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                  <img class="card-img-top" src="images/html/gur prasad.jpg" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">AR. GUR PRASHAD</h4>
                    <h5 class="card-title">Principal Architect, Co-Founder</h5>
                    <p class="card-title">B.Arch, Solar Systems, (KVIC)</p>
                    <p class="card-text">The Co-founder is also an Architect with experience of working with Corporate Office Interiors, Low-Cost Housings, Industrial & Premium Residential Sector.</p>
                  </div>
                </div>
            </div>
            <div class="col-md-4 consultants">
                <div class="card">
                  <h4 class="card-header">ASSOCIATED CONSULTANTS</h4>
                  <div class="card-body">
                    <h5 class="card-title">Structural Design Consultants</h5>
                    <h5 class="card-title">Er. JUGAL KISHORE</h5>
                    <h6 class="card-title">Senior Structural Advisor</h6>
                    <p class="card-title">B.E. Civil</p>
                    <p class="card-text">He has an experience of working as a Structural Engineer for more than 20 years, and with various High Rises Residential, Industrial & Commercial Projects.</p>
                    <hr align="center" width="50%">
                    <h5 class="card-title">Electrical & Plumbing Consultants</h5>
                    <h5 class="card-title">Er. AZAM RABBANI</h5>
                    <h6 class="card-title">IRA CONSULTANTS</h6>
                    <hr align="center" width="50%">
                    <h5 class="card-title">Furniture R&D Consultants</h5>
                    <h5 class="card-title">Ar. NIKHIL MINOCHA</h5>
                    <p class="card-text">MOD – ART FURNITURE STUDIOS, Kirti Nagar</p>
                    <hr align="center" width="50%">
                    <h5 class="card-title">KUSHESHWAR SHARMA</h5>
                    <p class="card-text">Furniture Design Workshop, Badarpur</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="about">
    <div class="row">
        <div class="col-lg-6">
            <div id="story">
                <h5 class="heading">OUR STORY</h5>
                <hr align="center" width="30%">
                <p><span>ADORN ABODES ARCHITECTS and INTERIORS DESIGNERS</span>
                    , founded by Ar. Devika Soni , because of her keen eye in art and space. She has always been a design critic. Her attitude towards bringing life and colors to spaces is intriguing.
                    While designing her own home she felt the difficulty a working class family has to deal with for making their homes. Disparity in the fee structure of different architects, interior designers and contractors leading to ambiguous estimations for the project. No transparency on the pricing of the material used or the charges levied by the contractor were some of the major issues. She found all these dealings inept and thus, with help of Ar. Gur Prasad founded Adorn Abodes.
                    The three main pillars of this organisation are–
                    <span>RELIABILITY, TRANSPARENCY & INNOVATION</span>
                </p>
            </div>
        </div>
        <div class="col-lg-6">
            <div id="story-pic">
                <img src="images/html/about.jpg">
            </div>
        </div>
    </div>
</div>

<div id="contact-heading">
    <h5>DROP US A LINE</h5>
    <hr align="center" width="15%">
</div>

<div id="contact-us" class="container">
	<div class="row" id="info">
		<div class="col-lg-4">
			<div class="container info-box" id="address">
				<i class="fas fa-map-marker-alt fa-2x"></i>
				<br>
				<h6>ADDRESS</h6>
				<hr align="center" width="20%">
				<p>2101 Tower-V, Hyde Park, Sec-78, Noida-201304, Uttar Pradesh</p>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="container info-box" id="email">
				<i class="far fa-envelope fa-2x"></i>
				<br>
				<h6>E-MAIL</h6>
				<hr align="center" width="20%">
				<a href="#">info.adab@adornabodes.com</a>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="container info-box" id="phone">
				<br>
				<i class="fas fa-phone fa-2x"></i>
				<h6>CONTACT</h6>
				<hr align="center" width="20%">
				<p>+91-8368088598<br>+91-8178500785</p>
			</div>
		</div>
	</div>
    <div class="row">
        <div class="col-lg-6">
            <div id="msg-form">
                <form method="POST" action="/message">
                    <div id="form-box">
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <input type="text" name="name" class="form-control" placeholder=" Your Name">
                                </div>
                                <div class="col">
                                    <input type="email" name="email" class="form-control" placeholder="Email address">
                                </div>
                            </div>
                        </div>
						<div class="form-group">
							<input type="text" name="phone" class="form-control" placeholder="Phone Number">
						</div>
						<div class="form-group">
                            <textarea type="text-area" name="address" class="form-control" rows="3" placeholder="Address"></textarea>
                        </div>
						<div class="form-group">
							  <select class="form-control" name="property" id="sel1">
								<option>Select the type of your property</option>
								<option>Residential</option>
								<option>Retail</option>
								<option>Office</option>
							  </select>
						</div>
                        <div class="form-group">
                            <textarea type="text-area" name="message" class="form-control" rows="3" placeholder="Write your message here..."></textarea>
                        </div>
                        <button type="submit" class="btn btn-outline-dark btn-lg">GET FREE ASSISTANCE</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-6" >
            <div id="insta-link">
                <img src="images/html/Instagram link.png">
            </div>
        </div>
    </div>
</div>
<footer>
    <div id="footer">
        <i class="fas fa-hourglass-half fa-2x"></i>
        <div id="links">
            <a class="footer-link" href="abodes#home-content">Home</a>
            <a class="footer-link" href="abodes#services">Services</a>
            <a class="footer-link" href="/projects">Projects</a>
            <a class="footer-link" href="abodes#team-heading">Team</a>
            <a class="footer-link" href="abodes#about">About</a>
			<a class="footer-link" href="/careers">Join Our Team</a>
        </div>
        <div class="copyright">
            <p>Copyright &copy</p>
            <a href="#">AdornAbodes.com</a>
        </div>
    </div>
</footer>

<% include partials/footer %>