<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Join Adorn Abodes</title>
		<link rel="stylesheet" href="/stylesheets/projects.css">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	</head>
	<body>
		<div class="animated infinite bounce slow">
			<a href="/abodes"><i id="back" class="fas fa-arrow-alt-circle-left fa-2x"></i></a>
		</div>
		<div class="main">
			<div class="heading animated fadeInDown slow">
				<h1 class="dsiplay-3">Our Recent Ventures</h1>
				<hr width="40%" align="center">
			</div>
			<div class="projects container  animated fadeInUp slow">
				<div class="contemporary">
					<div id="first">
						<div id="firstCarousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner" role="listbox">
								<div class="carousel-item active">
									<img class="d-block w-100" src="/images/projects/contemporary/1/Picture1.jpg">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/contemporary/1/Picture4.jpg">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/contemporary/1/Picture5.png">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/contemporary/1/Picture6.png">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/contemporary/1/Picture7.png">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/contemporary/1/Picture9.png">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/contemporary/1/Picture10.png">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/contemporary/1/Picture13.png">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/contemporary/1/Picture15.jpg">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/contemporary/1/Picture16.jpg">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/contemporary/1/Picture17.png">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/contemporary/1/Picture18.jpg">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/contemporary/1/Picture19.jpg">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/contemporary/1/Picture22.png">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/contemporary/1/Picture23.png">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/contemporary/1/Picture24.jpg">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/contemporary/1/Picture25.jpg">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/contemporary/1/Picture26.png">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/contemporary/1/Picture27.png">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/contemporary/1/Picture29.png">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/contemporary/1/Picture30.png">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/contemporary/1/Picture31.png">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/contemporary/1/Picture32.png">
								</div>
							</div>
							<a class="carousel-control-prev" href="#firstCarousel" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							</a>
							<a class="carousel-control-next" href="#firstCarousel" role="button" data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
							</a>
						</div>
					</div>
				</div>
				<div class="modern">
					<div id="first">
						<div id="secondCarousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner" role="listbox">
								<div class="carousel-item active">
									<img class="d-block w-100 " src="/images/projects/modern/1/Picture33.jpg">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/modern/1/Picture34.jpg">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/modern/1/Picture35.jpg">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/modern/1/Picture36.jpg">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/modern/1/Picture37.jpg">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/modern/1/Picture38.jpg">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/modern/1/Picture39.jpg">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/modern/1/Picture40.jpg">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/modern/1/Picture41.jpg">
								</div>
							</div>
							<a class="carousel-control-prev" href="#secondCarousel" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							</a>
							<a class="carousel-control-next" href="#secondCarousel" role="button" data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
							</a>
						</div>
					</div>
					<div id="first">
						<div id="thirdCarousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner" role="listbox">
								<div class="carousel-item active">
									<img class="d-block w-100" src="/images/projects/modern/2/Picture42.jpg">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/modern/2/Picture43.jpg">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/modern/2/Picture44.jpg">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/modern/2/Picture45.jpg">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/modern/2/Picture46.jpg">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/modern/2/Picture47.jpg">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/modern/2/Picture48.jpg">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/modern/2/Picture49.jpg">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/modern/2/Picture50.jpg">
								</div>
								<div class="carousel-item">
									<img class="d-block w-100" src="/images/projects/modern/2/Picture51.jpg">
								</div>
							</div>
							<a class="carousel-control-prev" href="#thirdCarousel" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							</a>
							<a class="carousel-control-next" href="#thirdCarousel" role="button" data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
		<!--<script type="text/javascript" src="/scripts/projects.js"></script>-->
	</body>
</html>